<!-- emmet.io -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Document</title>
</head>
<body>
  <!-- header.header>nav.header__menu>ul>li.header__menu__item*3>a -->
  <header>
    <nav>
      <ul>
        <li>
          <a href="">Home</a>
        </li>
        <li>
          <a href="">Contato</a>
        </li>
        <li>
          <a href="">Fotos</a>
        </li>
      </ul>
    </nav> 
  </header>
  


</body>
</html>